---
import BaseLayout from "../layouts/BaseLayout.astro";
import CopyText from "../components/TextCopy.astro";
import ProjectCard from "../components/ProjectCard.astro";

import { getCollection } from "astro:content";
import { ArrowUpRight, Download } from "@lucide/astro";
import resume from "/Zhou-Sun_Resume.pdf";

const allPosts = await getCollection("blog");
const selectedSlugs = ["flight-analyser", "cipher", "dashboard"];
const selectedPosts = allPosts.filter((post) =>
  selectedSlugs.includes(post.id),
);
selectedPosts.sort(
  (a, b) =>
    new Date(b.data.editDate).getTime() - new Date(a.data.editDate).getTime(),
);

const iconSize = 16;
const pageTitle = "Portfolio | Home";
const email = "zhou@zhousun.cc";
const linkedInUrl = "https://www.linkedin.com/in/zhou-sun-8069281a7";
const githubUrl = "https://github.com/B33th0v3n960";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="intro">
    <h1>Computer Science Student</h1>
    <p>
      Full-stack developer in training at Trinity College Dublin. I work across
      Java, JavaScript, and React, and I'm actively looking for internships to
      take my skills into a real-world environment. Here's what I've been
      building.
    </p>
  </section>
  <section class="about">
    <div class="cv">
      <h2>Curriculum Vitae</h2>
      <p>Feel free to grab my CV below.</p>
      <a href={resume} class="download">
        Download<Download size={iconSize} />
      </a>
    </div>
    <div class="contact">
      <h2>Contacts</h2>

      <div class="contact__buttons">
        <CopyText id="email" copyText={email} displayText="zhou[@]zhousun.cc" />
        <div class="link__button">
          <span>LinkedIn:</span>
          <a href={linkedInUrl} class="link">
            {linkedInUrl.slice(12, 36)}
            <ArrowUpRight size={iconSize} />
          </a>
        </div>

        <div class="link__button">
          <span>Github:</span>
          <a href={githubUrl} class="link">
            {githubUrl.slice(8, 31)}<ArrowUpRight size={iconSize} />
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="projects">
    <h2>Projects</h2>
    <ul>
      {
        selectedPosts.map((post) => (
          <ProjectCard
            data={post.data}
            blogLink={`/posts/${post.id}/`}
            repoLink={post.data.links.repo}
          />
        ))
      }
    </ul>
  </section>
</BaseLayout>

<style>
  h1,
  h2 {
    margin-bottom: var(--space-sm);
  }

  section {
    margin-bottom: var(--space-lg);
  }

  .download {
    width: fit-content;
    border: var(--default-border);
    padding: var(--space-xs) var(--space-md);

    display: flex;
    align-items: center;
    gap: var(--space-sm);

    background-color: var(--bg-base);
    box-shadow: var(--no-shadow);
    transition: box-shadow 0.25s ease;
  }

  .download:hover {
    box-shadow: var(--default-shadow);
    cursor: pointer;
  }

  .intro {
    max-width: var(--medium-breakpoint);
  }

  .about {
    display: grid;
    gap: var(--space-md);
  }

  .cv button {
    margin-top: var(--space-sm);
  }

  .contact {
    width: fit-content;
  }

  .contact__buttons {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
  }

  ul {
    padding: 0;
    display: grid;
    gap: var(--space-md);
  }

  @media screen and (min-width: 768px) {
    .about {
      grid-template-columns: 1fr 1fr;
    }

    ul {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media screen and (min-width: 1024px) {
    ul {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
</style>
