---
import "../styles/global.css";
import { Copy, Check } from "@lucide/astro";

const iconSize = 16;

interface Props {
  displayText: string;
  copyText: string;
  id: string;
}

const { displayText, copyText, id } = Astro.props;
---

<div class="copy__container">
  <span class="copy__text">{displayText}</span>
  <button class="copy__button" id={id} data-copy-text={copyText}>
    <Copy class="copy" size={iconSize} />
    <Check class="check" size={iconSize} />
  </button>
</div>

<style>
  .copy__container {
    display: flex;
    align-items: center;
    border: var(--default-border);
    box-shadow: var(--no-shadow);
    transition: box-shadow 0.25s ease;
  }

  .copy__container:hover {
    box-shadow: var(--default-shadow);
  }

  .copy__text {
    flex: 1;
    padding: var(--space-xs) var(--space-md);
  }

  .copy__button {
    border: none;
    background-color: var(--fg-primary);
    color: var(--bg-base);
    padding: var(--space-sm);
    align-self: stretch;

    .copy {
      display: block;
    }

    .check {
      display: none;
    }

    &.copied {
      .copy {
        display: none;
      }

      .check {
        display: block;
      }
    }
  }
</style>

<script is:inline define:vars={{ copyText, id }}>
  document.querySelectorAll(".copy__button").forEach((btn) => {
    btn.addEventListener("click", () => {
      const copyText = btn.dataset.copyText;
      navigator.clipboard.writeText(copyText);
      btn.classList.add("copied");
      setTimeout(() => btn.classList.remove("copied"), 2000);
    });
  });
</script>
