---
import "remark-github-blockquote-alert/alert.css";
import BaseLayout from "./BaseLayout.astro";
import "../styles/markdown.css";

import { Image } from "astro:assets";

const { frontmatter } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/**/*.{png,jpg,jpeg,webp,avif}",
);
const imageLoader = images[frontmatter.image.url];
if (!imageLoader) throw new Error(`Image not found: ${frontmatter.image.url}`);
const resolvedImage = (await imageLoader()).default;

const options = {
  year: "numeric",
  month: "long",
  day: "numeric",
};
const pubDate = frontmatter.pubDate.toLocaleDateString("en-UK", options);
const editDate = frontmatter.editDate.toLocaleDateString("en-UK", options);
---

<BaseLayout pageTitle={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <p class="date">Published: {pubDate} | Last edited: {editDate}</p>
  <p class="brief">{frontmatter.description}</p>
  <div class="cover-image">
    <Image
      src={resolvedImage}
      alt={frontmatter.image.alt}
      width={1280}
      layout="full-width"
      decoding="async"
      loading="eager"
    />
  </div>
  <div class="markdown">
    <slot />
  </div>
</BaseLayout>

<style>
  h1 {
    margin-top: var(--space-md);
    font-size: var(--xl-font-size);
  }

  .date {
    font-size: var(--small-font-size);
    color: var(--fg-mute);
    font-weight: bold;
  }

  .brief {
    margin-top: var(--space-md);
  }

  .cover-image {
    max-height: 200px;
    overflow: hidden;
    margin-top: var(--space-md);
    display: flex;
    justify-content: center;
    border: var(--default-border);

    :where([data-image-component]) {
      object-fit: cover;
      object-position: center;
    }

    :where([data-astro-image="full-width"]) {
      width: 100%;
      height: auto;
    }
    :where([data-astro-image="constrained"]) {
      max-width: 100%;
    }
  }

  @media screen and (min-width: 512px) {
    .cover-image {
      max-width: 80%;
      max-height: 512px;
    }
  }
</style>
